nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: rgba(117, 80, 0, 0.81);
  gap: 45px;
}

svg {
  margin-right: 5px;
}

nav a {
  text-decoration: none;
  color: white;
  transition: all 0.3s;
}

nav a:hover {
  color: cadetblue;
}